@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.head-title {
    margin: 0px;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    border-bottom: 0px solid #1a183a;
    background-color: #333333;
    display: flex;
}

.head-title h3{
    font-family: 'JosefinSans', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
}

.wrap-equiped-reset{
    text-align: center;
    width: auto;
    height: 20px;
    background-color: #333333;
    color: #5fb97a;
}

.wrap-equiped-reset:hover{
    background-color: #177533;
    color: #ececec;
}

