.app-compute {
  min-width: 500px;
  padding: 0px 10px 10px 10px;
  margin-left: 0px;
}

.app-weapon-list {
  text-align: center;
}

.App {
  display: flex;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

@keyframes dropDn-open{
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.dropDn-p {
  display: block;
}

.dropDn-c {
  display: none;
  opacity: 0;
}

.dropDn-p:hover .dropDn-c{
  display: block;
  opacity: 1;
  animation: dropDn-open 0.3s ease-in 0s forwards;
}

.app-equiped{
  display: flex;
  flex-flow: column;
  min-width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-summons{
  display: flex;
  border: 0px solid #ccc;
  width: 290px;
}

.summons-button{
  display: flex;
  flex-flow: column;
  width: 75px;
  font-size: 11px;
  text-align: center;
  margin: 1px;
  padding: 3px;
}

.summons-button:hover{
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
