.app-compute {
  min-width: 500px;
  padding: 0px 10px 10px 10px;
  margin-left: 0px;
}

.App {
  display: flex;
  background: #f3f3f3;

}

.app-weapon-select-wrap{
  min-width: 140px;
}

@keyframes dropDn-open{
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.dropDn-p {
  display: block;
}

.dropDn-c {
  display: none;
  opacity: 0;
}

.dropDn-p:hover .dropDn-c{
  display: block;
  opacity: 1;
  animation: dropDn-open 0.3s ease-in 0s forwards;
}

.app-equiped{
  border: 0px solid black;
  width: 150px;
  min-height: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-summons{
  display: flex;
  border: 0px solid #ccc;
  width: 290px;
  margin-left:auto;
}

.summons-button{
  display: flex;
  flex-flow: column;
  width: 75px;
  font-size: 11px;
  text-align: center;
  margin: 1px;
  padding: 3px;
}

.summons-button:hover{
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.equiped-btn-wrap {
  min-width: 140px;
}
 
.equiped-btn {
  background: #292929;
  color:  rgb(243, 243, 243);
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  border-bottom: 1px solid #333333;
}
 
.equiped-btn:focus,
.equiped-btn:hover {
  background: rgb(93, 225, 248);
  border-color: currentColor;
  color: #3b3b3b;
}
